{
  "ecmaFeatures": {
    "blockBindings": true,
    "arrowFunctions": true,
    "destructuring": true,
    "forOf": true,
    "restParams": true,
    "defaultParams": true,
    "templateStrings": true
  },

  "rules": {
  }
}
