
.tabstrip {
  padding: 0 0 0 10px;
  margin-bottom: calc(-1 * var(--hwd-pixel));
  z-index: 999;
  overflow: hidden;
}

.button {
  width: 16px;
  height: 16px;
  background-color: transparent;
  background-size: 64px 16px;
}

.windowcontrols {
  margin-top: -4px;
  margin-right: 2px;
}

.controls {
  width: 24px;
  height: 18px;
  margin-right: 2px;
}

.controls.close {
  background-image: url(resources/linux/close.png);
}

.controls.close:hover {
  background-image: url(resources/linux/close_hover.png);
}

.controls.close:hover:active {
  background-image: url(resources/linux/close_pressed.png);
}

.controls.maximize {
  background-image: url(resources/linux/maximize.png);
}

.controls.maximize:hover {
  background-image: url(resources/linux/maximize_hover.png);
}

.controls.maximize:hover:active {
  background-image: url(resources/linux/maximize_pressed.png);
}

.controls.restore {
  background-image: url(resources/linux/restore.png);
}

.controls.restore:hover {
  background-image: url(resources/linux/restore_hover.png);
}

.controls.restore:hover:active {
  background-image: url(resources/linux/restore_pressed.png);
}

.controls.minimize {
  background-image: url(resources/linux/minimize.png);
}

.controls.minimize:hover {
  background-image: url(resources/linux/minimize_hover.png);
}

.controls.minimize:hover:active {
  background-image: url(resources/linux/minimize_pressed.png);
}

[os="osx"] .tabstrip:first-of-type {
  padding-top: 9px;
}

.tab {
  -moz-user-select: none;
  cursor: default;
  color: #444;
  height: 28px;
  border-style: solid;
  border-width: 0 28px;
  border-image-slice: 0 28 0 28 fill;
  border-color: transparent;
  margin-right: -25px;
  padding-top: 1px;
  flex-basis: 180px;
  background-clip: border-box;
}

[os="linux"] .dummy-tab-curve {
  /* These values are used in curvedTabs.js */
  --curve-border: transparent;
  --curve-gradient-start: #FBFBFB;
  --curve-gradient-end: #EDEDED;
  --curve-hover-border: transparent;
  --curve-hover-gradient-start: rgba(255,255,255,0.4);
  --curve-hover-gradient-end: rgba(255,255,255,0.4);
}

[os="windows"] .dummy-tab-curve {
  /* These values are used in curvedTabs.js */
  --curve-border: transparent;
  --curve-gradient-start: #FBFBFB;
  --curve-gradient-end: #EDEDED;
  --curve-hover-border: #AAA;
  --curve-hover-gradient-start: rgba(255, 255, 255, 0.4);
  --curve-hover-gradient-end: rgba(255, 255, 255, 0.4);
}

[os="osx"] .dummy-tab-curve {
  /* These values are used in curvedTabs.js */
  --curve-border: #AAA;
  --curve-gradient-start: #FBFBFB;
  --curve-gradient-end: #F1F1F1;
  --curve-hover-border: #AAA;
  --curve-hover-gradient-start: transparent;
  --curve-hover-gradient-end: transparent;
}

[os="linux"] .tab {
  color: -moz-menubartext;
}

@media (min-resolution: 2dppx) {
  .tab {
    border-image-slice: 0 56 0 56 fill;
  }
}

.tab.selected {
  z-index: 1001;
  border-image-source: -moz-element(#canvas-tab-selected);
  color: black;
}

.tab:not(.selected):not(:hover) + .tab:not(.selected):not(:hover):not(:first-of-type) {
  background-image: linear-gradient(to top, #AAA, transparent 80%);
  background-size: 1px 100%;
  background-repeat: no-repeat;
  background-position: -14px 0;
}

.tab:not(.selected):hover {
  border-image-source: -moz-element(#canvas-tab-hover);
}

.tab > .favicon, .tab > .throbber {
  width: 16px;
  height: 16px;
  margin: 0 3px 0 -6px;
  image-rendering: optimizequality;
}

.tab > .favicon:not([src]) {
  display: none;
}

.tab > .throbber {
  background-image: url(resources/images/loading.png);
  background-size: 16px 16px;
}

@media (min-resolution: 2dppx) {
  .tab > .throbber {
    background-image: url(resources/images/loading@2x.png);
  }
}

.tab.loading > .favicon,
.tab:not(.loading) > .throbber {
  display: none;
}

.tab > .favicon {
  opacity: 0.7;
  margin-right: 0.5rem;
}

.tab.selected > .favicon {
  opacity: 1;
}

.tab > .title {
  flex-grow: 1;
  display: inline-block;
  width: 0;
  text-overflow: ellipsis;
  overflow-x: hidden;
  z-index: 1000;
  opacity: 0.4;
  font: -moz-field;
  font-size: 14px;
  outline: none;
}

.tab.selected > .title {
  opacity: 1;
}

.tab > .close-button {
  width: 16px;
  height: 16px;
  background-color: transparent;
  background-size: 64px 16px;;
  margin: 0 -6px 0 3px;
}

.tab.selected > .close-button {
  background-image: url(resources/images/close.png);
}

[os="osx"] .tab > .close-button {
  background-position: 0 0;
}

[os="linux"] .tab > .close-button {
  background-position: -48px 0;
}

.tab.selected > .close-button {
  background-position: 0 0;
}


@media (min-resolution: 2dppx) {
  .tab > .close-button {
    background-image: url(resources/images/close@2x.png);
  }
}

.tab > .close-button:hover {
  background-position: -16px 0;
}

.tab > .close-button:hover:active {
  background-position: -32px 0;
}
