html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

.browsers, chrome-element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 0;
}

browser-chrome[hidden] {
  display: flex;
  z-index: -1;
}
