
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  pointer-events: none;
}

.contextmenu {
  position: absolute;
  width: 40px;
  height: 40px;

  pointer-events: auto;
  background-color: pink;
}
