/**
 * theme.css
 *
 */

:root {
  --hwd-pixel: 1px;
}

@media (min-resolution: 2dppx) {
  :root {
    --hwd-pixel: 0.5px;
  }
}

[os="osx"] .toolbar:first-of-type {
  /* Some room for the window controls */
  padding-left: 70px;
}

body:not([os="osx"]) .iframes {
  background-color: white;
}
