
.extension-button {
  width: 18px;
  min-width: 18px;
  height: 18px;
  padding: 2px 4px;
  border: var(--hwd-pixel) solid transparent;
  background-origin: content-box, border-box, border-box;
  background-clip: content-box, border-box, border-box;
  border-radius: 3px;
}

.extension-button.disabled {
  pointer-events: none;
  opacity: 0.4;
}

.extension-button:hover {
  border-color: var(--toolbarbutton-hover-bordercolor);
  box-shadow: var(--toolbarbutton-hover-boxshadow);
}

.extension-button:hover:active {
  border-color: var(--toolbarbutton-active-bordercolor);
  box-shadow: var(--toolbarbutton-active-boxshadow);
}

.extension-button > img {
  width: 16px;
  height: 16px;
}
