html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.iframes {
  background-color: white;
}

.iframes > .browser {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.iframes > .browser[hidden] {
  display: block;
  visibility: hidden;
}
