
.window {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1002;
  pointer-events: none;
}

.window > iframe {
  position: absolute;
  top: 0;
  height: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}


.window.popup {
  background-color: transparent;
}

.window.popup > iframe {
  top: 10px;

  border-top: 2px solid -moz-Dialog;
  border-right: 2px solid -moz-Dialog;
  border-left: 1px solid -moz-Dialog;
  border-bottom: 1px solid -moz-Dialog;
}

.window.popup > .arrow {
  background-image: url(images/panelarrow-vertical.svg);
  background-repeat: no-repeat;

  position: absolute;
  top: 0;
  left: 3px;
  width: 21px;
  height: 10px;
  z-index: 1;
}

