<!doctype html>
<html>
  <head>
    <meta charset='utf-8'>

    <link rel='stylesheet' href='/src/shared/style/layout.css'>
    <link rel='stylesheet' href='style/core.css'>
    <link rel='stylesheet' href='style/navbar.css'>
    <link rel='stylesheet' href='style/findbar.css'>
    <link rel='stylesheet' href='style/window.css'>
    <link rel='stylesheet' href='style/webextensions/browserAction.css'>

    <script src='/src/shared/js/bridge/client.js' defer></script>
    <script src='/src/services/services.js' defer></script>
    <script src='/src/shared/js/os.js' defer></script>
    <script src='js/modal.js' defer></script>

    <!-- Module handling -->
    <!-- All further JS code is loaded from javascript -->
    <script data-main='js/startup' src='/src/shared/js/lib/require.js' defer></script>
  </head>

  <body>
    <vbox id='outervbox' flex='1'> <!-- This is not XUL. It's html. -->
      <hbox class='navbar toolbar' align='center'>
        <button class='back-button' title='Go back one page'></button>
        <button class='forward-button' title='Go forward one page'></button>
        <button class='reload-button' title='Reload current page'></button>
        <button class='stop-button' title='Stop loading this page'></button>
        <hbox class='urlbar' flex='1' align='center'>
          <div class='identity'></div>
          <input autofocus placeholder='Search or enter address' class='urlinput' flex='1'>
        </hbox>
        <hbox id='navbar-extensions'></hbox>
      </hbox>

      <hbox id='outerhbox' flex='1'>
        <box class='iframes' flex='1' align='stretch'></box>
      </hbox>
    </vbox>

    <div class='findbar'>
      <div class='search-input'>
        <input class='search'></input>
        <button class='button next'></button>
        <button class='button previous'></button>
      </div>
      <button class='button close'></button>
    </div>
  </body>
</html>
