body {
  background-color: lightgray;
}

.toolbar {
  padding: 0 1rem 0 1rem;
  margin-bottom: calc(-1 * var(--hwd-pixel));
}

.button {
  width: 16px;
  height: 16px;
  background-color: transparent;
  background-size: 64px 16px;
}

