.toolbar {
  display: flex;
  flex-direction: row;
  flex-grow: 1;

  padding: 0 1rem 0 1rem;
  margin-bottom: calc(-1 * var(--hwd-pixel));

  overflow: hidden;
  background-color: lightgray;
}

.button {
  width: 16px;
  height: 16px;
  background-color: transparent;
  background-size: 64px 16px;
}

