
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 10px;
  pointer-events: none;
}

.results {
  position: absolute;

  /*
    Results are positioned just above the tab bar.
   */
  top: 0;
  left: 0;

  /* 
   The width of the results are all the screen, but the height
   depends on the inner content.
   */
  width: 100%;
  height: auto;
  overflow: hidden;
  box-sizing: border-box;

  /*
   Ensure that results get pointer events. This is here because
   the frame is contained into an iframe with mozpasspointerevents,
   and the html, body of this iframe ignore pointer-events.
   */
  pointer-events: auto;

  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0.1rem 0.3rem black;

  padding: 0 10px 0 93px;
  margin: 0;
  list-style: none;
}

.result {
  width: 100%;
  height: 2.4rem;
  line-height: 2.4rem;
  overflow: hidden;
  box-sizing: border-box;

  font-size: 1.4rem;
  vertical-align: middle;

  background-repeat: no-repeat;
  background-size: 19px 19px;
  background-position: 6px center;

  margin: 0;
  padding-left: 32px;
}

.result[selected] {
  background-color: lightblue;
}

.result.suggestion {
  background-image: url(resources/search.png);;
}

.result.history {
  color: green;
  background-image: url(resources/http.png);;
}

.result.bookmark {
  background-image: none;
}

.result > .title {
  color: grey;
}

